

/*HEADER*/
.header-rostock{
    display: flex;
    width: 100vw;
    /* height:20vh; */
    justify-content: space-around;
    align-items: center;
    background-color: #325899;
    color:pink;
}

.logo-img{
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    margin:10px;
}

.busqueda-input{
  background-color: white;
  margin-right: -100px;
  width: 26vw;
  height: 50px;
}

.boton-busqueda{
    background-color: transparent; 
    border: none; 
    padding: 0; 
    margin: 0; 
    cursor: pointer;
}

.campo-busqueda{
    width: 24vw;
    height: 50px;
    border:none;
    outline: none; 
    box-shadow: none;
}


.nav-bar{
    display: flex;
    margin-right: -60px;
}

.nav-bar li{
    font-size: 1.3rem;
    font-weight: bold;
    list-style: none;
    margin-right: 20px;
    margin-left: 20px;
}

.nav-bar li:hover{
    text-decoration: underline;
    text-decoration-thickness: 3px;
}
/* seccion portada */
.seccion-portada{
  display:flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
.portada {
  position:relative;
  width: 100vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #325899;
  height: 70vh; 
  /* margin-top: 50px;  */
  /* padding: 50px; */
  box-sizing: border-box;
  transition: height 0.5s ease;
   
}
.portada img {
  max-width: 90vw;
  max-height:70vh;
  height: auto;
  position: relative;
  

}

.img-1 {
  animation: slide-up 1s ease;
  opacity: 0.8;
}

.img-2 {
  animation: slide-down 1s ease;
  opacity: 0.8;
}

.texto-bienvenida {
  position: absolute;
  width: 100%;
  height: 100% ;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  color:#325899;
  padding: 20px 20px;
  text-align: center; 
  z-index: 1;
}

#fade-text {
  opacity: 0;
  letter-spacing: 2px;
  font-family: Arial, Helvetica, sans-serif;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  font-weight: bold;
  font-size: 4rem;
} 

.div-texto{
  width: 80%;
  margin: 50px auto;
  /* background-color:rgba(255, 255, 255, 0.8); */
  background-color: white;
  position: relative;
  padding: 20px;
  clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
}
/*BODY*/
body{
    background-image: url("../img/fondo/fondo.jpeg");
    background-size: cover;

}

/*Seccion productos*/
.card {
  width: 300px;
  max-height: 400px;
  padding: 10px;
  border: 4px solid white;
  background-size: 200% 200%;
  border-radius: 12px;
}

.card-int {
  position: relative;
  height: 100%;
  overflow: hidden;
  font-size: 14px;
  border-radius: 6px;
  background-color: white;
}

.img {
  width: 100%;
  height: 300px; 
  max-height: 100%; 
  object-fit: cover;
}

.title {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}

.card-data {
  /* padding: 20px; */
  font-size: 14px;
}

.card__span {
  font-family: 'Lucida Sans' sans-serif;
  font-size: 11px;
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: white;
  padding: 5px 10px;
  border-radius: 15px;
}



